
__pycache__/
*.py[cod]
*$py.class


virt/


.vscode/


.ipynb_checkpoints/


.DS_Store


*.log
*.env
.env.*


*.egg
*.egg-info/
dist/
build/


*.spec


.pytest_cache/


.mypy_cache/
.coverage
htmlcov/


*.bak
*.swp
*~

